<footer class="bg-primary px-4 py-2 text-white mt-auto">
    <div><span class="block border-t border-white/10 pt-2 text-sm text-neutral">&copy 2024 Kampİt,
            Inc.
            All
            rights
            reserved.</span>
    </div>
</footer>