<% layout('layouts/boilerplate') %>
    <section class="bg-primary py-8 px-4 mt-4 sm:mt-8 mx-auto sm:w-3/5 sm:rounded-md lg:py-16 lg:px-6">
        <div class="mx-auto text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-white">
                <%= statusCode %>
            </h1>
            <span class="inline-block animate-bounce"><svg xmlns="http://www.w3.org/2000/svg" height="100" width="100"
                    viewBox="0 0 512 512">
                    <path fill="#ffffff"
                        d="M128 32l32 0c17.7 0 32 14.3 32 32l0 32L96 96l0-32c0-17.7 14.3-32 32-32zm64 96l0 320c0 17.7-14.3 32-32 32L32 480c-17.7 0-32-14.3-32-32l0-59.1c0-34.6 9.4-68.6 27.2-98.3C40.9 267.8 49.7 242.4 53 216L60.5 156c2-16 15.6-28 31.8-28l99.8 0zm227.8 0c16.1 0 29.8 12 31.8 28L459 216c3.3 26.4 12.1 51.8 25.8 74.6c17.8 29.7 27.2 63.7 27.2 98.3l0 59.1c0 17.7-14.3 32-32 32l-128 0c-17.7 0-32-14.3-32-32l0-320 99.8 0zM320 64c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32l0 32-96 0 0-32zm-32 64l0 160-64 0 0-160 64 0z" />
                </svg></span>
            <p class="mb-4 text-lg font-light text-white">
                <%= err.message %>
            </p>
            <a href="/"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white  rounded-lg focus:ring-4 focus:outline-none bg-secondary-lt hover:bg-secondary focus:ring-secondary-lt">
                Back to Homepage
            </a>
        </div>
    </section>